.first {
    position: relative;
    border: 1px solid black;
    background: green;
    width: 60px;
    height: 40px;
}

.second {
    position: absolute;
    border: 1px solid black;
    background: yellow;
    width: 60px;
    height: 40px;
    top: auto;
    left: auto;
}

.three {
    position: absolute;
    border: 1px solid black;
    background: coral;
    width: 60px;
    height: 40px;
}